.container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  height: 400px;
  border: 2px solid red;
  list-style: none;
  overflow-x: hidden;
  width: 500px;
  scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
.container::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
.listyle {
  /* height: 40px; */
  min-height: 40px;
  padding: 5px;
  border: 2px solid green;
}
